:root{
    background-color: rgb(10, 10, 10);
    color:rgb(255, 255, 255);
}

#name{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: rgb(161, 161, 161);
    color:rgb(0, 0, 0);
    margin-top: -10px;
    margin-right: -7px;
    margin-left: -7px;
}

#navbar{
    font-family:'Trebuchet MS', sans-serif;
    list-style-type: none;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -7px;
    border: 0;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    top: 0;
}

#navs{
    float:left;
}

#about-me{
    margin-left: 10px;
    margin-right: 10px;
}

#skills{
    width:150px;
    margin-top: 50px;
}

#ed-text{
    margin-left: 10px;
    margin-right: 10px;
}

div{
    background-color: rgb(37, 37, 37);
    border-radius:25px;
    justify-content: center;
}

a{
    display: block;
    text-align: center;
    background-color: rgb(161, 161, 161);
    text-decoration: none;
    padding: 17px 17px;
    transition-duration: 1s;
}

a:hover{
    background-color:rgb(100, 98, 98);
}

h1,h2,p,li{
    font-family: 'Calibri', sans-serif;
}

.center{
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    background-color:rgb(10,10,10);
}

.flex-inside{
    flex: 1;
    border: 2px solid yellow;
}

.image{
    width: 20%;
    padding: 5px;
    background-color: rgb(10,10,10);
    text-align:center;
}

.image-row::after{
    clear: both;
    display:table;
    content:"";
}

.bottomdiv{
    width: 200px;
    height: 200px;
}

.button{
    transition-duration: 1s;
}

.button:hover{
    background-color: rgb(41, 154, 182);
    color: black;
}